/v.glagolev/lab0/MyfirstApplication/bin
/v.glagolev/lab0/MyfirstApplication/obj
/v.glagolev/lab0/.vs
/e.lapushkina/lab1/MyWork1/.vs
/e.lapushkina/lab1/MyWork1/bin
/e.lapushkina/lab1/MyWork1/obj
/v.glagolev/Structure/ConsoleApp1/.vs
/v.glagolev/Structure/ConsoleApp1/bin
/v.glagolev/Structure/ConsoleApp1/obj
/v.glagolev/Typedata/ConsoleApp1/bin
/v.glagolev/Typedata/ConsoleApp1/obj
/v.glagolev/Typedata/ConsoleApp1/.vs
/v.glagolev/lab3/Lab3/.vs
/v.glagolev/lab3/Lab3/bin
/v.glagolev/lab3/Lab3/obj
/v.glagolev/lab3/TestLab3/obj
/v.glagolev/lab3/TestLab3/bin
/v.glagolev/3_Structure/ConsoleApp1/obj
/v.glagolev/3_Structure/ConsoleApp1/bin
/v.glagolev/2_Typedata/ConsoleApp1/.vs
/v.glagolev/2_Typedata/ConsoleApp1/bin
/v.glagolev/2_Typedata/ConsoleApp1/obj
/v.glagolev/3_Structure/ConsoleApp1/.vs
/v.glagolev/lab3/Lab3/packages
/v.glagolev/Lab4/.vs
/v.glagolev/Lab4/Lab4/obj
/v.glagolev/Lab4/Lab4/bin
/v.glagolev/Lab4/TestLab4/obj
/v.glagolev/Lab4/TestLab4/bin
/v.glagolev/4_Abstract/MyAbstractProgram/.vs
/v.glagolev/4_Abstract/MyAbstractProgram/bin
/v.glagolev/4_Abstract/MyAbstractProgram/obj
/v.glagolev/lab1/.vs
/v.glagolev/lab1/bin
/v.glagolev/lab1/obj
/v.glagolev/5_Class_System_Object_and_methods/MyProgram/.vs
/v.glagolev/5_Class_System_Object_and_methods/MyProgram/bin
/v.glagolev/5_Class_System_Object_and_methods/MyProgram/obj
