/v.glagolev/lab0/.vs
/v.glagolev/lab0/MyfirstApplication/bin
/v.glagolev/lab0/MyfirstApplication/obj
/e.lapushkina/lab1/MyWork1/.vs
/e.lapushkina/lab1/MyWork1/obj
/e.lapushkina/lab1/MyWork1/bin
/e.lapushkina/lab1/MyWork2/obj
/e.lapushkina/lab1/MyWork2/bin
/e.lapushkina/lab1/MyWork2/.vs/MyWork2/FileContentIndex/*.vsidx
/e.lapushkina/lab1/MyWork2/.vs/MyWork2/v17/*.suo
