/v.glagolev/lab0/MyfirstApplication/bin
/v.glagolev/lab0/MyfirstApplication/obj
/v.glagolev/lab0/.vs
/e.lapushkina/lab1/MyWork1/.vs
/e.lapushkina/lab1/MyWork1/bin
/e.lapushkina/lab1/MyWork1/obj
/v.glagolev/Structure/ConsoleApp1/.vs
/v.glagolev/Structure/ConsoleApp1/bin
/v.glagolev/Structure/ConsoleApp1/obj
/v.glagolev/Typedata/ConsoleApp1/bin
/v.glagolev/Typedata/ConsoleApp1/obj
/v.glagolev/Typedata/ConsoleApp1/.vs
/v.glagolev/lab3/Lab3/.vs
/v.glagolev/lab3/Lab3/bin
/v.glagolev/lab3/Lab3/obj
/v.glagolev/lab3/TestLab3/obj
/v.glagolev/lab3/TestLab3/bin
/v.glagolev/3_Structure/ConsoleApp1/obj
/v.glagolev/3_Structure/ConsoleApp1/bin
/v.glagolev/2_Typedata/ConsoleApp1/.vs
/v.glagolev/2_Typedata/ConsoleApp1/bin
/v.glagolev/2_Typedata/ConsoleApp1/obj
/v.glagolev/3_Structure/ConsoleApp1/.vs
/v.glagolev/lab3/Lab3/packages
