body, html {
  background-image: url("https://yii2test.ru/web/img/1.jpg");
}
menu, html {
  background-image: url("https://yii2test.ru/web/img/3.jpg");
}
.price-categories {
 font-size: 20px;
 font-family: Didot, serif;
 color: #FCF3F3;
 background-image: none;
 background-color: transparent; 
}
.row {
 font-size: 29px;
 font-family: Didot, serif;
 color: #FCF3F3;
 
 background-image: none;
 background-color: transparent;
}
.mymenu {
 font-size: 30px;
 padding-right: 35px;
 font-family: Didot, serif;
 color: #E0D7E6;
 text-decoration: none;
 background-image: none;
 background-color: transparent;
 height: inherit;
}
.mymenu1 {
 font-size: 40px;
 font-family: Didot, serif;
 color:aqua;
 background-image: none;
 background-color: transparent;
 height: inherit;
}
p {
 font-size: 20px;
 font-family: Didot, serif;
 color: #FCF3F3;
 background-image: none;
 background-color: transparent;
margin-bottom:;
}
p1 {
    font-size: 25px;
    color: #FCF3F3;
    font-family: Didot, serif;
}
p2 {
 font-size: 3em;
 font-family: Didot, serif;
 color: #FCF3F3;
 background-image: none;
 background-color: transparent;
}
h1.display-4 {
 font-size: 90px;
 text-align: center;
 font-family:  oblique;
 color: #FCF3F3;
}
h2 {
 font-size: 3em;
 color: #FCF3F3;
    padding-left: 110px;
}
h2.col-lg-4 {
top: 20px;
}
h5 {
    font-family: Didot, serif;
    text-align: center;
    font-size: 50px;
    color: #FCF3F3;
}
h6 {
    font-size: 15px;
    text-align: center;
    color: #FCF3F3;
}
.footer{
    background-color: #212529;
    width: 100%;
    height: 100%;
    margin-left: none;

}
p.lead {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.oh {
    background: rgba(0, 0, 0, 0.6); /* Цвет фона */

}